<button style="padding: 10px;"  [routerLink]="['/shows']" >Back</button>  
<br>

<div class='show_profile'>

  <h2>{{ thisShow.name }}</h2>
  <h5>{{ thisShow.type }} | {{ thisShow.language }}</h5>
  <h6>Status: {{ thisShow.status }}</h6>
  <h6>Runtime: {{ thisShow.runtime }} minutes</h6>

   
    <div *ngIf = "thisShow.rating.average" style="max-width: 100px; text-align: left; display: inline-block; font-size: 12px;">
      <!-- <div class="star-container"> -->
      <star-rating [starType]="'svg'" [rating]='thisShow.rating.average/2 ' [showHalfStars]="true">
      </star-rating>
      ({{ thisShow.rating.average/2 }} Stars)
    <!-- </div> --> 
    </div>


  <!-- <h6>Average Rating: {{ thisShow.rating.average }} stars</h6> -->
  <h6>Premiered: {{ thisShow.premiered }}</h6>

  <h6>Synopsis:</h6> 
    <p class='summary'>{{ summary }}</p>

  <h6>Genre(s):</h6>
  <ul *ngFor="let genre of thisShow.genres">
    <li>{{  genre }}</li>
  </ul>
<br>


    <div *ngIf = "!noStars">

      <h6 >Starring:</h6>
      <p style="font-style: italic;">Hover over the actor to see the character (s)he portrays</p>

      <div *ngFor="let s of starring" class="flip-box">
          <span  *ngIf = "s.character.image != null && s.person.image != null">
              <div class="flip-box-inner">
                <div class="flip-box-front">

      <img src="{{ s.person.image.medium }}" height="100"> <p>{{s.person.name}}</p>
                </div>

                <div class="flip-box-back">  
      <img src="{{ s.character.image.medium }}" height="100" ><p>{{s.character.name}}</p> 
        
            </div>
          </div>
          <br>
        </span>
    </div>
  </div>


    <div *ngIf = "noStars">
      <h6 >Starring:</h6>
      <br>
      <div *ngFor="let s of starring" id="selfStars">
        <img src="{{ s.person.image.medium }}" height="100"> <p>{{s.person.name}}</p>
      </div>
    </div>

</div>

<img class='show_profile_pic' src="{{thisShow.image.original}}">

<div class='official_site_link' *ngIf= "thisShow.officialSite != null">
  <a href="{{ thisShow.officialSite }}" target="_blank"><button style="padding: 15px;" >More details on the official site</button></a>
</div> 