<div id= "searchBox">
<!-- <h5>
  Discover a new show
</h5> -->


<form  (submit)='filter()'>
  <div>
  <p style='display: inline-block; margin: 10px;'>Genre:
    <select name="genre" [(ngModel)]='filterFor.genre'>
      <option selected value='all'>All</option>
      <option value="Drama">Drama</option>
      <option value="Science-Fiction">Science-Fiction</option>
      <option value="Thriller">Thriller</option>
      <option value="Action">Action</option>
      <option value="Crime">Crime</option>
      <option value="Adventure">Adventure</option>
      <option value="Music">Music</option>
      <option value="Romance">Romance</option>
      <option value="Mystery">Mystery</option>
      <option value="Supernatural">Supernatural</option>
      <option value="Fantasy">Fantasy</option>
      <option value="Horror">Horror</option>
      <option value="Family">Family</option>
      <option value="Anime">Anime</option>
      <option value="Comedy">Comedy</option>
      <option value="History">History</option>
      <option value="Medical">Medical</option>
      <option value="Legal">Legal</option>
      <option value="Western">Western</option>
      <option value="Espionage">Espionage</option>
      <option value="War">War</option>
      <option value="Sports">Sports</option>
    </select>
  </p>
  
    <h6 style='display: inline-block; margin: 10px;'>Rating:
      <select name="rating" [(ngModel)]='filterFor.rating'>
        <option selected value="0">All</option>
        <option value="8">4+</option>
        <option value="6">3+</option>
        <option value="4">2+</option>
      </select>
    </h6>



    <input type="submit" value="Search" style='display: inline-block; margin: 0 20px;'>

</div>
</form>

</div>

  <h6 [innerHTML]="noShows" style="padding: 15px; color: darkblue;"></h6>
  <!-- <div>
      <p *ngFor = "let s of starring" style='display: inline-block; width: 200px;'>
      {{ s.person.name }}
    </p>
  </div> -->
<div *ngFor = "let d of apiData$" class="show_box" >
  <h5 style="font-weight: bold ">{{d.name}} </h5>
  <h6>Type: {{d.type}} </h6>
  <div *ngIf = "d.rating.average" style="max-width: 100px; text-align: left;">

      <!-- <div class="rating value-1 half">
        <div class="star-container">
          <star-rating [starType]="'svg'" [rating]=1.5></star-rating>
        </div>
      </div> -->

      
      <star-rating [starType]="'svg'" [rating]='d.rating.average/2' [showHalfStars]="true"></star-rating>
      </div>


  <!-- <div *ngIf = "d.rating.average>=8">
      <h6 class="highly__rated" style="color: green"> Rating: {{d.rating.average}} </h6>
  </div>

  <div *ngIf = "d.rating.average>=6 && d.rating.average<8">
      <h6 class="avg__rated" style="color: orange"> Rating: {{d.rating.average}} </h6>
  </div>

  <div *ngIf = "d.rating.average<=6 && d.rating.average!=null">
      <h6 class="low__rated" style="color: red"> Rating: {{d.rating.average}} </h6>
  </div>-->
  
  <div *ngIf = "d.rating.average==null">
      <h6 class="not__rated" style="color: black"> Rating: Not Available </h6>
  </div> 

  <a [routerLink]="['/shows/', d.id]"  id='small_pic' >
    <div id='hovered_show' style="position: relative; color: white;" (mouseenter)= "onMouseover(d.id)" (mouseleave) = "onMouseout()">
      <img src="{{d.image.medium}}" id='pic_hover'>
        <p *ngIf="hoveredId===d.id"  id='summary_shown' >
          {{d.summary}}
        </p>
    </div>
  </a>
      <!-- <p *ngIf= "hoveredId===d.id" style=" position: absolute; bottom: 0; left: 0; max-width: 210px; max-height: 280px">
          {{d.summary }}</p> -->
</div>
 
  

