#headerText h1 {
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    padding: 0 20%;
    margin-top: 25px;
}



#headerText {
    padding-bottom: 225px;
}


.wrapper{
    min-width: 100%;
    height: 600px;
    overflow: hidden;
    z-index: -100;
    position: absolute;
    top: -10px; 
    left: 0px;
}

.wrapper #myVideo{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -100;
    opacity: 0.5;
    margin: 0;
}

