<!-- <nav class="navbar navbar-light bg-light">
    <a [routerLink]="['shows']" class="btn btn-outline-white btn-md">Home</a> | 
    <a [routerLink]="['/shows/topRated']" class="btn btn-outline-white btn-md">Top Rated</a> |
    <a [routerLink]="['/']" class="btn btn-outline-white btn-md">Latest </a>
</nav> -->

<br>


<div style="text-align:center" >
  <h1>
    What Will You Binge Next?
  </h1>
  <h3 style="font-style: italic;">Select from an extensive collection of high-quality television shows!
  </h3>
</div>
<br>

<router-outlet></router-outlet>