#headerText h1 {
    display: inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 100px;
    padding: 0 20%;
    margin-top: 25px;
}



#headerText {
    padding-bottom: 225px;
}
