<!-- <nav class="navbar navbar-light bg-light">
    <a [routerLink]="['shows']" class="btn btn-outline-white btn-md">Home</a> | 
    <a [routerLink]="['/shows/topRated']" class="btn btn-outline-white btn-md">Top Rated</a> |
    <a [routerLink]="['/']" class="btn btn-outline-white btn-md">Latest </a>
</nav> -->





<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple">
 <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>


<header style="text-align:center;" >

  <div id='headerText'>
    <h1 >
      What Will You Binge Next?
    </h1>
    <h5 id='tagline' style="font-style: italic;">
      Select from an extensive collection of high-quality television shows!
    </h5>
</div>

</header>
<br>


<router-outlet></router-outlet>

 <p style="text-align: center; font-size: 11px; padding-top: 55px;">Designed & build by Mayan Rothstein  <br/>
            {{'\u00A9'}} 2019</p>
