@import '~css-star-rating/css/star-rating';

body{
    /* margin: 5% ; */
    background: linear-gradient(to bottom right, white , silver);
}

.show_box{
    width: 275px; 
    display: inline-block; 
    margin: 30px 0;
}

.show_profile{
    width: 50%; 
    display: inline-block; 
    margin: 30px 55px 30px 10px;
}

.show_profile_pic{
    max-width: 35%; 
    display: inline-block; 
    margin: 30px 30px;
    vertical-align: top;
}


.summary{
    padding: 0 20px;
}

.wrapper{
    min-width: 100%;
    height: 600px;
    overflow: hidden;
    z-index: -100;
    position: absolute;
    /* top: -10px;  */
    left: 0px;
}

.wrapper #myVideo{
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: -100;
    opacity: 0.5;
    margin: 0;
}



